
/* 背景图片及渐变 */
#web_bg {
	background-image: url(https://img.tucang.cc/api/image/show/4952eb2030f8897e3b349bfbcb6f26a8),
		linear-gradient(60deg, rgba(34, 0, 51, 0.5) 5%, rgba(192, 192, 192, 0.35))
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget {
	background: linear-gradient(-45deg,
			#290F3E,
			#482F62,
			#9ea8ad,
			#65c3f1,
			#8E4585);
	box-shadow: 0 0 5px rgb(169, 87, 115);
	position: relative;
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite !important;
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
	background-color: #8D99AE;
	border-radius: 8px;
}

/* 侧边栏悬浮时 */
#aside-content > .sticky_layout > .card-widget {
	background: rgba(237, 242, 238, 0.95);
}

/* 文章页面 */
.layout > #post {
	background: rgba(228, 240, 245, 0.95);
}

/* 分类页面 */
.layout > #page {
	background: rgba(237, 242, 238,0.95);
}

/* 时间轴页面 */
.layout > #archive {
	background: rgba(234, 237, 238,0.95);
}

/* 关于页面 */
.layout > #page {
	background: rgb(36, 70, 89);
	border: 2px solid #8e0a7d;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	
	color: #fff;
	font-family: "Georgia", serif;
	font-size: 24px;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s ease, opacity 0.3s ease;
}

.layout > #page:hover {
	background-color: rgba(17, 22, 23, 0.97);
	opacity: 0.95;
}


  
#nav-right{
	flex:1 1 auto;
	justify-content: flex-end;
	margin-left: auto;
	display: flex;
	flex-wrap:nowrap;
  }

  .nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}


